#app {
  margin: 0 auto;
  font-weight: normal;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

main {
  margin: 20px 0;
  height: fit-content;
  padding: auto 30px !important;
}

footer {
  min-height: 70px;
  max-height: 75px;
}

.btn-agregar {
  margin: 1em 0;
  border-radius: 50px !important;
}

.buscadores {
  padding: 10px 50px;
  flex-wrap: wrap;
  display: flex;
}
.filtro {
  max-width: 300px !important;
  margin-left: 30px;
}
